* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#musixmatch {
    fill: white;
}

.nav-container, .hder-container, .main-container {
    max-width: 1100px;
    margin: 0 auto;
}

.nav-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-container ul {
    font-size: 15px;
    font-weight: 600;
    padding: 20px 20px;
    display: flex;
    list-style: none;
}

.nav-btn {
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.pro::after {
    position: relative;
    bottom: 5%;
    left: 4%;
    content: "PRO";
    background-color: #ff5353;
    font-size: 8px;
    padding: 2px 5px;
    border-radius: 4px;
}

.nav-btn:hover {
    color: #f63;
}

.cta {
    color: black;
    text-decoration: none;
    padding: 10px 16px;
    background-color: white;
    border-radius: 20px;
    transition: background-color 0.5s;
}

.cta:hover {
    background-color: #2c3e50;
}

.hder-container h1 {
    padding-top: 120px;
    font-size: 70px;
    font-weight: 600;
}

.sections-container {
    padding: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.group-card {
    display: block;
    color: white;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    max-width: 100%;

}


.card-info h3 {
    font-size: 18px;
    font-weight: 600;
    color: #ff5353;
    margin-bottom: 10px;
}

.card-info p {
    font-size: 15px;
    font-weight: lighter;
}

.card-img {
    text-align: center;
}


.card-img img {
    max-width: 60%;
    height: 60px;
}

.card-arrow {
    display: none;
}

.main-section {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(68,68,68,1) 75%);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px 0px;
}

.main-container-left {
    padding: 50px 0px 120px 80px;
}

.main-container-right {
    background-image: url(img/banner-2.png);
    background-size:contain;
    background-repeat: no-repeat;
    padding: 50px 0px 50px 0px;
}

.cta-sec a {
    font-weight: 600;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    padding: 20px 40px;
    background-color: #ff5353;
}

.main-subtitle h2 {
    font-size: 55px;
    font-weight: 600;
    max-width: 430px;
    margin: 10px 0px 40px 0px;
}

.main-logo img {
    max-width: 60%;
}

.carousel {
    display: none;
}

.product-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: stretch;
}

.product-img {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.product-card {
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    padding: 15px 10px 15px 10px;
    margin: 20px;
    max-width: 100%;
}

.product-logo img {
    max-width: 50%;
}

.spotify {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url(img/spotify-bg.png);
}

.instagram {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url(img/instagram-bg.png);
}

.applemusic {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url(img/apple-bg.png);
   
}

.vevo {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url(img/vevo-bg.png);
}

.button-container {
    text-align: center;
    margin: 10px 0px 80px 0px;
}

.button-container a {
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;
    padding: 15px 20px;
    background-color: #f5f5f5;
    color: black;
}

.main-desc p {
    font-size: 23px;
    margin-bottom: 40px;
}

.brand-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.brand-logo {

    margin: 10px 20px;
    text-align: center;
    
}

.brand-logo img {
    max-width: 100%;
    height: 60px;
}

.slogan-title {
    margin: 80px 0px;
}

.slogan-title h3 {
    font-weight: 600;
    font-size: 40px;
}

.app-access-card {
    border-radius: 15px;
    background-color: #1d1d1d;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    margin-bottom: 50px;
}

.app-access-content {
    padding: 100px 50px;
}

.app-access-content h3 {
    margin: 0;
    font-weight: 800;
    font-size: 30px;
}

.app-access-content p {
    margin: 30px 0px 50px 0px;
    font-size: 20px;
}

.app-access-button {
    text-decoration: none;
    color: white;
    background-color: #101519;
    border-radius: 10px;
    font-weight: 600;
    padding: 18px 30px;
}

.app {
    background-image: url(img/community-card.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.curator {
    background-image: url(img/curator-card.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.catalog {
    background-image: url(img/artist-card.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.learn-more {
    background-image: url(img/ai-card.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.partner-bg {
    background-image: url(img/publisher-card.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (max-width: 768px) {

    .nav-container, .hder-container, .main-container {
        max-width: 85%;
        margin: 0 auto;
    }

    nav {
        background-color: rgb(26, 26, 26);
    }

    .nav-container-left {
        margin: 0;
        padding: 10px 0px 5px 0px;
    }

    .nav-container-right {
        background-color: rgb(26, 26, 26);
    }


    .nav-container-right ul {
        display: none;
    }

    .hder-container h1 {
        padding-top: 50px;
        font-size: 40px;
        font-weight: 600;
        width: 100%;
        
    }

    .group-card {
        border-radius: 15px;
        padding: 10px 15px;
        background-color: #ffeded;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 1fr;
        max-width: 100%;
    }

    .card-container {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .card-title h3 {
        padding-left: 10px;
        margin: 0;
    }

    .card-img {
        
        text-align: left;
    }

    .card-img img {
        max-width: 100%;
        height: 25px;
    }


    .partner img {
        content: url(img/partner.png);
    }

    .artist img {
        content: url(img/artist.png);
    }

    .publisher img {
        content: url(img/publisher.png);
    }

    .podcast img {
        content: url(img/podcast.png);
    }

    .card-desc {
        display: none;
    }

    .card-title {
        margin: 0;
    }
    
    .card-title h3 {
        font-weight: 600;
    }

    .card-arrow {
        text-align: end;
        align-items: center;
        display: inline-block;
    }

    .card-arrow img {
        max-width: 50%;
    }

    .sections-container {

        display: block;
        margin: 0 auto;
    }
    
    .main-section {
        display: flex;
        flex-direction: column;
        padding: 40px 25px 20px 25px;
        text-align: center;
        border-radius: 25px;
    }

    .main-container-left {
        padding: 0;
    }

    .main-container-right {
        background-position: center;
        max-width: 100%;
        margin-top: 30px;
        padding: 40% 0%;
    }

    .carousel {
        display: block;
    }

    .product-cards {
        display: none;
    }

    .product-card {
        padding: 0px 20px;
        height: 500px;
    }

    .product-desc {
        margin-top: 10px;
    }

    .product-logo img {
        max-width: 30%;
    }

    .main-subtitle h2 {
        font-size: 30px;
        margin: 20px 0px 25px 0px;
    }
    .cta-sec a {
        border-radius: 20px;
        padding: 12px 25px;
        font-size: 15px;
    }

    .main-logo img {
        max-width: 55%;
    }

    .brand-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .brand-container img {
        max-width: 100%;
        height: 5%;
    }

    .brand-logo {
        margin: 0;
        max-width: 200px;
    }

    .app-access-card {
        display: flex;
        flex-direction: column-reverse;

    }
    
    .app-access-content {
        padding: 20px 10px 30px 10px;
    }

    .app-access-button {
        border-radius: 30px;
    }

}